#! /usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1 -Wl,-z,defs

%:
	dh $@
	
override_dh_auto_test:
	DEB_BUILD_OPTIONS=nocheck dh_auto_test

